server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

  # Optional: control how the instance appears in Eureka (nice for local clarity)
  instance:
    hostname: localhost               # or omit; Eureka will use your machine hostname
    prefer-ip-address: false          # use hostname in instance ID/URLs
    instance-id: ${spring.application.name}:${server.port}


management:
  server:
    port: 8080                        # same as server.port (default; you can omit this line)
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,gateway   # include 'info'
  endpoint:
    health:
      show-details: always
    info:
      enabled: true                    # redundant in Boot 3, but explicit is fine


# Security: permit actuator in dev
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: INFO
