server:
  port: 8081
  servlet:
    context-path: /insurance-registration-service

spring:
  application:
    name: insurance-registration-service

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:mysql://localhost:3306/ebrd
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    #      naming:
    #        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

  # Optional: control how the instance appears in Eureka (nice for local clarity)
  instance:
    hostname: localhost               # or omit; Eureka will use your machine hostname
    prefer-ip-address: false          # use hostname in instance ID/URLs
    instance-id: ${spring.application.name}:${server.port}

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info


